<div class="mda-section">
  <div class="row m-0 w-100">
    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp">
      <app-basic-select></app-basic-select>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-select-with-2-way-binding></app-select-with-2-way-binding>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-select-in-form></app-select-in-form>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-select-with-form-field-feature></app-select-with-form-field-feature>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-disabled-select></app-disabled-select>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-select-with-reset-option></app-select-with-reset-option>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-select-with-option-groups></app-select-with-option-groups>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-select-with-multiple-selection></app-select-with-multiple-selection>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-select-with-custom-trigger-text></app-select-with-custom-trigger-text>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-select-with-custom-panel-styling></app-select-with-custom-panel-styling>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-select-with-custom-errorstatematcher></app-select-with-custom-errorstatematcher>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-select-with-2-way-binding></app-select-with-2-way-binding>
    </div>
  </div>
</div>