<div class="logo d-flex align-items-center display-4">
  <a class="animated fadeIn delay-03" routerLink="/">
    
    <img alt="logo" src="assets/images/logo100.png"><span class="ml-1 one">inventa</span><span class="two">ng</span></a>

  <button appToggleNavVertical class="nav-toggle-button" mat-raised-button mat-icon-button color="accent">
    <mat-icon>menu</mat-icon>
  </button>
</div>

<div class="navigation">
  <perfect-scrollbar class="nav-perfect-scrollbar">

    <div class="profile-section animated fadeIn delay-03">
      <div class="profile-image">
        <img class="shadow" alt="profile" src="assets/images/users/user_1.jpg">
        <button routerLink="/user" class="profile-edit-button" mat-raised-button mat-icon-button color="accent">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <div class="profile-info">
        <div class="profile-card-title">Mike Ayala</div>
        <div class="profile-card-subtitle">PROJECT MANAGER</div>
      </div>
    </div>

    <div class="nav-inner" id="nav-vertical"></div>
  </perfect-scrollbar>
</div>