#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #212429;
  background: -webkit-linear-gradient(to right, #212429, #212429, #0f1218);
  background: linear-gradient(to right, #212429, #212429, #0f1218);
  &.hide {
    display: none;
  }
  .preloader-container {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    padding: 30px;
    width: 25%;
    height: 140px;

    $circle1-size: 170;
    $circle2-size: 178;
    $circle3-size: 186;
    $image-width: 100;
    $image-height: 70;

    .circle1,
    .circle2,
    .circle3 {
      position: absolute;
      top: 50%;
      left: 50%;
      box-sizing: border-box;
      border-radius: 50%;
      border: 2px solid;
    }
    .circle1 {
      margin-top: -$circle1-size / 2 + px;
      margin-left: -$circle1-size / 2 + px;
      width: $circle1-size + px;
      height: $circle1-size + px;
      border-color: rgba($color: #3498db, $alpha: 0.8);
      border-bottom-width: 4px;
      border-bottom-color: transparent;
      border-left-width: 4px;
      border-left-color: transparent;
      -webkit-animation: spin 1.4s infinite linear;
      animation: spin 1.4s infinite linear;
    }
    .circle2 {
      margin-top: -$circle2-size / 2 + px;
      margin-left: -$circle2-size / 2 + px;
      width: $circle2-size + px;
      height: $circle2-size + px;
      border-color: rgba($color: rgb(255, 231, 249), $alpha: 0.8);
      border-right-width: 4px;
      border-right-color: transparent;
      border-top-width: 4px;
      border-top-color: transparent;
      -webkit-animation: spin 1.8s infinite linear;
      animation: spin 1.8s infinite linear;
    }
    .circle3 {
      margin-top: -$circle3-size / 2 + px;
      margin-left: -$circle3-size / 2 + px;
      width: $circle3-size + px;
      height: $circle3-size + px;
      border-color: rgba($color: rgb(255, 251, 32), $alpha: 0.8);
      border-right-width: 4px;
      border-right-color: transparent;
      border-left-width: 4px;
      border-left-color: transparent;
      -webkit-animation: spin 2.2s infinite linear;
      animation: spin 2.2s infinite linear;
    }
    .image {
      position: fixed;
      top: 50%;
      left: 50%;
      margin-top: -$image-height / 2 + px;
      margin-left: -$image-width / 2 + px;
      animation-name: pulse;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }
  }
}

@keyframes bouncy {
  40% {
    height: 40px;
  }
  50% {
    transform: translate(0, 65px);
    height: 34px;
    border-radius: 20px;
  }
  65% {
    height: 40px;
  }
}

@keyframes push {
  50% {
    left: 56px;
  }
}

@keyframes slide {
  50% {
    margin-top: 25px;
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(0.85);
  }
  to {
    transform: scale(1);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes cross {
  50% {
    margin-left: 60px;
  }
}

@keyframes spinHorizontal {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
