<div class="mda-section">
  <div class="row m-0 w-100">
    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp">
      <app-basic-buttons></app-basic-buttons>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-02">
      <app-raised-buttons></app-raised-buttons>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-stroked-buttons></app-stroked-buttons>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-04s">
      <app-flat-buttons></app-flat-buttons>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-05s">
      <app-icon-buttons></app-icon-buttons>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-06s">
      <app-fab-buttons></app-fab-buttons>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2  animated bounceInUp delay-07s">
      <app-mini-fab-buttons></app-mini-fab-buttons>
    </div>
  </div>
</div>