<div class="mda-section">
  <div class="row m-0 w-100">
    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp">
      <app-autocomplete-overview></app-autocomplete-overview>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-simple-autocomplete></app-simple-autocomplete>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-05s">
      <app-display-value-autocomplete></app-display-value-autocomplete>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-05s">
      <app-filter-autocomplete></app-filter-autocomplete>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-05s">
      <app-option-groups-autocomplete></app-option-groups-autocomplete>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-05s">
      <app-highlight-first-autocomplete></app-highlight-first-autocomplete>
    </div>
  </div>
</div>