<div class="mda-section">
  <div class="row m-0 w-100">

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-simple-form-field></app-simple-form-field>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-form-field-with-label></app-form-field-with-label>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-form-field-with-hints></app-form-field-with-hints>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-form-field-with-error-messages></app-form-field-with-error-messages>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-form-field-with-prefix-and-sufix></app-form-field-with-prefix-and-sufix>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp">
      <app-form-field-theming></app-form-field-theming>
    </div>

  </div>
</div>