<div class="mda-card mda-card-material animated delay-02">
    <div class="mda-card-header low">
      <div class="mda-card-header-title">Tooltip that can be manually shown/hidden</div>
      <div class="mda-card-control">
          <a matTooltip="more info ..." href="https://material.angular.io/components/categories" target="_blank">
            <i class="fa fa-link"></i>
          </a>
        </div>
    </div>
    <div class="mda-card-body">
  
      <div class="mda-card-body-inner">
  
        <mat-tab-group>
          <mat-tab label="UI">
            <div>
              <span> Mouse over to </span>
              <button mat-button
                      (mouseenter)="tooltip.show()"
                      aria-label="Button that progamatically shows a tooltip on another button"
                      class="example-action-button">
                show
              </button>
              <button mat-button
                      (mouseenter)="tooltip.hide()"
                      aria-label="Button that progamatically hides a tooltip on another button"
                      class="example-action-button">
                hide
              </button>
              <button mat-button
                      (mouseenter)="tooltip.toggle()"
                      aria-label="Button that progamatically toggles a tooltip on another button to show/hide"
                      class="example-action-button">
                toggle show/hide
              </button>
            </div>
            
            <button mat-raised-button #tooltip="matTooltip"
                    matTooltip="Info about the action"
                    matTooltipPosition="right"
                    aria-tooltip="Button that displays and hides a tooltip triggered by other buttons">
              Action
            </button>
            
          </mat-tab>
  
          <mat-tab label="HTML">
            <button class="copyCodeBtn" matTooltip="copy code ..." mat-button mat-icon-button ngxClipboard (click)="copy('html')">
              <i class="fa fa-copy"></i>
            </button>
            <pre>
              <code highlight [code]="htmlCode"></code>
            </pre>
          </mat-tab>
          <mat-tab label="TS">
            <button class="copyCodeBtn" matTooltip="copy code ..." mat-button mat-icon-button ngxClipboard (click)="copy('ts')">
              <i class="fa fa-copy"></i>
            </button>
            <pre>
              <code highlight [code]="tsCode"></code>
            </pre>
          </mat-tab>
          <mat-tab label="CSS">
            <button class="copyCodeBtn" matTooltip="copy code ..." mat-button mat-icon-button ngxClipboard (click)="copy('css')">
              <i class="fa fa-copy"></i>
            </button>
            <pre>
              <code highlight [code]="cssCode"></code>
            </pre>
          </mat-tab>
        </mat-tab-group>
  
      </div>
    </div>
  </div>