<div class="error animated bounceInLeft">
    <div class="row no-gutters">
    <div class="col-xl-6">
      <mat-card class="text-center">
        <mat-card-header>
          <i class="fa fa-exclamation-circle"></i>
        </mat-card-header>
        <mat-card-content>
          <h1 class="display-1">404</h1>
          <p class="lead">Page not found</p>
          
          <p>Sorry, but the page you were trying to view does not exist.</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="accent" class="mb-3" routerLink="/">Take me home</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>