<div class="mda-card mt-4 animated bounceInUp delay-02">
  <div class="mda-card-header low">
    <div class="mda-card-header-title">Drag&Drop sorting</div>
    <div class="mda-card-control">
      <a
        matTooltip="more info ..."
        href="https://material.angular.io/cdk/drag-drop/examples"
        target="_blank"
      >
        <i class="fa fa-link"></i>
      </a>
    </div>
  </div>
  <div class="mda-card-body p-3">
    <mat-tab-group class="w-100">
      <mat-tab label="UI">
        <div
          cdkDropList
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="example-box1" *ngFor="let movie of movies" cdkDrag>
            {{ movie }}
          </div>
        </div>
      </mat-tab>

      <mat-tab label="HTML">
        <button
          class="copyCodeBtn"
          matTooltip="copy code ..."
          mat-button
          mat-icon-button
          ngxClipboard
          (click)="copy('html')"
        >
          <i class="fa fa-copy"></i>
        </button>
        <pre>
                  <code highlight [code]="htmlCode"></code>
                </pre>
      </mat-tab>
      <mat-tab label="TS">
        <button
          class="copyCodeBtn"
          matTooltip="copy code ..."
          mat-button
          mat-icon-button
          ngxClipboard
          (click)="copy('ts')"
        >
          <i class="fa fa-copy"></i>
        </button>
        <pre>
                  <code highlight [code]="tsCode"></code>
                </pre>
      </mat-tab>
      <mat-tab label="CSS">
        <button
          class="copyCodeBtn"
          matTooltip="copy code ..."
          mat-button
          mat-icon-button
          ngxClipboard
          (click)="copy('css')"
        >
          <i class="fa fa-copy"></i>
        </button>
        <pre>
                  <code highlight [code]="cssCode"></code>
                </pre>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
