<div class="mda-section">
  <div class="row m-0 w-100">
    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp">
      <app-basic-tooltip></app-basic-tooltip>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-tooltip-with-custom-position></app-tooltip-with-custom-position>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-tooltip-with-custom-class></app-tooltip-with-custom-class>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-tootip-with-show-hide-delay></app-tootip-with-show-hide-delay>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-tooltip-that-can-be-disabled></app-tooltip-that-can-be-disabled>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-tooltip-manually-shown-hidden></app-tooltip-manually-shown-hidden>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-tooltip-demonstrates-auto-hidding></app-tooltip-demonstrates-auto-hidding>
    </div>

    



    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-tooltip-with-changing-message></app-tooltip-with-changing-message>
    </div>





  </div>
</div>