<div class="mda-card">
  <div class="mda-card-header low">
    <div class="mda-card-header-title">
      <i class="fa fa-area-chart"></i> Marketing
    </div>
  </div>
  <div class="mda-card-body">
    <div class="row w-100 no-gutters flex-grow-1">
      <div class="col-xl-6 col-left d-flex flex-column align-items-stretch">
        <app-users class="users chart-wrapper"></app-users>
        <app-signups class="signups chart-wrapper"></app-signups>
      </div>
      <div class="col-xl-6 col-right d-flex flex-column align-items-stretch">
        <app-sessions class="sessions chart-wrapper"></app-sessions>
        <app-revenue class="revenue chart-wrapper"></app-revenue>
      </div>
    </div>
  </div>
</div>
