<div class="mda-card mda-card-material animated delay-02">
  <div class="mda-card-header low">
    <div class="mda-card-header-title">Form field with label</div>
    <div class="mda-card-control">
      <a matTooltip="more info ..." href="https://material.angular.io/components/categories" target="_blank">
        <i class="fa fa-link"></i>
      </a>
    </div>
  </div>
  <div class="mda-card-body">

    <div class="mda-card-body-inner">

      <mat-tab-group>
        <mat-tab label="UI">
            <div class="example-container">
                <form class="example-container" [formGroup]="options">
                  <mat-checkbox formControlName="hideRequired">Hide required marker</mat-checkbox>
                  <div>
                    <label>Float label: </label>
                    <mat-radio-group formControlName="floatLabel">
                      <mat-radio-button value="auto">Auto</mat-radio-button>
                      <mat-radio-button value="always">Always</mat-radio-button>
                      <mat-radio-button value="never">Never</mat-radio-button>
                    </mat-radio-group>
                  </div>
                </form>
              
                <mat-form-field
                    [hideRequiredMarker]="options.value.hideRequired"
                    [floatLabel]="options.value.floatLabel">
                  <input matInput placeholder="Simple placeholder" required>
                </mat-form-field>
              
                <mat-form-field [floatLabel]="options.value.floatLabel">
                  <mat-label>Both a label and a placeholder</mat-label>
                  <input matInput placeholder="Simple placeholder">
                </mat-form-field>
              
                <mat-form-field
                    [hideRequiredMarker]="options.value.hideRequired"
                    [floatLabel]="options.value.floatLabel">
                  <mat-select required>
                    <mat-option>-- None --</mat-option>
                    <mat-option value="option">Option</mat-option>
                  </mat-select>
                  <mat-label><mat-icon>favorite</mat-icon> <b> Fancy</b> <i> label</i></mat-label>
                </mat-form-field>
              </div>
        </mat-tab>

        <mat-tab label="HTML">
          <button class="copyCodeBtn" matTooltip="copy code ..." mat-button mat-icon-button ngxClipboard (click)="copy('html')">
            <i class="fa fa-copy"></i>
          </button>
          <pre>
            <code highlight [code]="htmlCode"></code>
          </pre>
        </mat-tab>
        <mat-tab label="TS">
          <button class="copyCodeBtn" matTooltip="copy code ..." mat-button mat-icon-button ngxClipboard (click)="copy('ts')">
            <i class="fa fa-copy"></i>
          </button>
          <pre>
            <code highlight [code]="tsCode"></code>
          </pre>
        </mat-tab>
        <mat-tab label="CSS">
          <button class="copyCodeBtn" matTooltip="copy code ..." mat-button mat-icon-button ngxClipboard (click)="copy('css')">
            <i class="fa fa-copy"></i>
          </button>
          <pre>
            <code highlight [code]="cssCode"></code>
          </pre>
        </mat-tab>
      </mat-tab-group>

    </div>
  </div>
</div>