<div class="mda-card animated delay-02">
  <div class="mda-card-header low">
      <div class="mda-card-header-title">Card with multiple sections</div> 
      <div class="mda-card-control">
        <a matTooltip="more info ..." href="https://material.angular.io/components/categories" target="_blank">
          <i class="fa fa-link"></i>
        </a>
      </div>   
  </div>
  <div class="mda-card-body">

    <div class="mda-card-body-inner">

      <mat-tab-group>
        <mat-tab label="UI">
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
        </mat-tab>

        <mat-tab label="HTML">
          <button class="copyCodeBtn" matTooltip="copy code ..." mat-button mat-icon-button ngxClipboard (click)="copy('html')">
            <i class="fa fa-copy"></i>
          </button>
          <pre>
            <code highlight [code]="htmlCode"></code>
          </pre>
        </mat-tab>
        <mat-tab label="TS">
          <button class="copyCodeBtn" matTooltip="copy code ..." mat-button mat-icon-button ngxClipboard (click)="copy('ts')">
            <i class="fa fa-copy"></i>
          </button>
          <pre>
            <code highlight [code]="tsCode"></code>
          </pre>
        </mat-tab>
        <mat-tab label="CSS">
          <button class="copyCodeBtn" matTooltip="copy code ..." mat-button mat-icon-button ngxClipboard (click)="copy('css')">
            <i class="fa fa-copy"></i>
          </button>
          <pre>
            <code highlight [code]="cssCode"></code>
          </pre>
        </mat-tab>
      </mat-tab-group>

    </div>
  </div>
</div>