<div class="mda-header-inner h-100 w-100">
  <div class="logo d-flex align-items-center display-4">
    <a routerLink="/">
      <img alt="logo" src="assets/images/logo100.png" />
      <span class="ml-1 one">Inventa </span> <span class="two"> ng</span>
    </a>
  </div>

  <!-- toolbars :: start -->
  <div class="mda-header-toolbars d-flex w-100 h-100">
    <app-toolbar-left
      class="mda-toolbar-left d-flex h-100 flex-row align-items-center justify-content-start animated bounceInLeft"
    ></app-toolbar-left>
    <app-toolbar-right
      class="mda-toolbar-right d-flex flex-grow-1 h-100 flex-row align-items-center justify-content-end animated bounceInRight"
    ></app-toolbar-right>
  </div>
  <!-- toolbars :: end -->
</div>
