<div class="mda-charts mda-ngx-charts">
    <div class="row">
  
      <div class="col-12"><app-ngx-vertical-bar-chart></app-ngx-vertical-bar-chart></div>
  
      <div class="col-12"><app-ngx-horizontal-bar-chart></app-ngx-horizontal-bar-chart></div>
  
      <div class="col-12"><app-ngx-pie-chart></app-ngx-pie-chart></div>

      <div class="col-12"><app-ngx-advanced-pie-chart></app-ngx-advanced-pie-chart></div>

      <div class="col-12"><app-ngx-line-chart></app-ngx-line-chart></div>

      <div class="col-12"><app-ngx-area-chart></app-ngx-area-chart></div>
  
    </div>
  </div>
  