<div class="mda-section">
  <div class="row m-0 w-100">
    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp">
      <app-basic-inputs></app-basic-inputs>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-input-with-custom-errorstatematcher></app-input-with-custom-errorstatematcher>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-autoresizing-textarea></app-autoresizing-textarea>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-input-with-clear-button></app-input-with-clear-button>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-input-with-error-messages></app-input-with-error-messages>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-inputs-in-form></app-inputs-in-form>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-inputs-with-hints></app-inputs-with-hints>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-input-with-prefix-and-sufix></app-input-with-prefix-and-sufix>
    </div>
  </div>
</div>