<div class="mda-user-profile row no-gutters animated bounceInLeft">
  <div class="mda-user-profile-base col-xl-3">
    <div class="profile-card d-flex flex-column align-items-center justify-content-center">
      <div class="profile-card-image shadow animated bounceIn delay-1s">
        <img alt="profile" src="assets/images/users/user_300_1.jpg">
      </div>
      <div class="profile-card-title">Mike Ayala</div>
      <div class="profile-card-subtitle">PROJECT MANAGER</div>
    </div>
    <div class="profile-navigation">
      <ul>
        <li class="selected">
          <div class="profile-navigation-item">
            <i class="fa fa-user"></i> <span class="text">Edit Profile</span>
            <span matBadge="3" class="blue" matBadgeOverlap="false">
              <span class="pulsating-circle blue"></span>
            </span>
          </div>
        </li>
        <li>
          <div class="profile-navigation-item">
            <i class="fa fa-envelope"></i> <span class="text">Inbox</span>
            <span matBadge="4" class="red" matBadgeOverlap="false">
              <span class="pulsating-circle red"></span>
            </span>
          </div>
        </li>
        <li>
          <div class="profile-navigation-item">
            <i class="fa fa-cog"></i> <span class="text">Settings</span>
          </div>
        </li>
        <li>
          <div class="profile-navigation-item">
            <i class="fa fa-life-ring"></i> <span class="text">Support</span>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="mda-user-profile-content col-xl-9">
    <app-profile-edit></app-profile-edit>
  </div>
</div>