<div class="mda-card mda-card-material animated delay-02">
  <div class="mda-card-header low">
    <div class="mda-card-header-title">Radios with ngModel</div>
    <div class="mda-card-control">
      <a matTooltip="more info ..." href="https://material.angular.io/components/categories" target="_blank">
        <i class="fa fa-link"></i>
      </a>
    </div>
  </div>
  <div class="mda-card-body">

    <div class="mda-card-body-inner">

      <mat-tab-group>
        <mat-tab label="UI">
            <mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason">
                <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                  {{season}}
                </mat-radio-button>
              </mat-radio-group>
              <div class="example-selected-value">Your favorite season is: {{favoriteSeason}}</div>
        </mat-tab>

        <mat-tab label="HTML">
          <button class="copyCodeBtn" matTooltip="copy code ..." mat-button mat-icon-button ngxClipboard (click)="copy('html')">
            <i class="fa fa-copy"></i>
          </button>
          <pre>
            <code highlight [code]="htmlCode"></code>
          </pre>
        </mat-tab>
        <mat-tab label="TS">
          <button class="copyCodeBtn" matTooltip="copy code ..." mat-button mat-icon-button ngxClipboard (click)="copy('ts')">
            <i class="fa fa-copy"></i>
          </button>
          <pre>
            <code highlight [code]="tsCode"></code>
          </pre>
        </mat-tab>
        <mat-tab label="CSS">
          <button class="copyCodeBtn" matTooltip="copy code ..." mat-button mat-icon-button ngxClipboard (click)="copy('css')">
            <i class="fa fa-copy"></i>
          </button>
          <pre>
            <code highlight [code]="cssCode"></code>
          </pre>
        </mat-tab>
      </mat-tab-group>

    </div>
  </div>
</div>