<div class="mda-section">
  <div class="row m-0 w-100">
    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp">
      <app-basic-use-of-tab-group></app-basic-use-of-tab-group>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-basic-use-of-tab-navbar></app-basic-use-of-tab-navbar>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-customizin-theme-on-tab-group></app-customizin-theme-on-tab-group>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-tab-group-with-assyncronously-loaded-content></app-tab-group-with-assyncronously-loaded-content>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-tab-group-with-dynamic-height></app-tab-group-with-dynamic-height>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-tab-group-with-dynamically-changing-tabs></app-tab-group-with-dynamically-changing-tabs>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-tab-group-with-headers-on-bottom></app-tab-group-with-headers-on-bottom>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-tab-group-with-lazy-loaded-content></app-tab-group-with-lazy-loaded-content>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-tab-group-with-stratched-label></app-tab-group-with-stratched-label>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-using-tabs-with-custom-label-template></app-using-tabs-with-custom-label-template>
    </div>
  </div>
</div>