<div class="mda-card mda-card-material animated delay-02">
  <div class="mda-card-header low">
    <div class="mda-card-header-title">Select with 2-way value binding</div>
    <div class="mda-card-control">
      <a matTooltip="more info ..." href="https://material.angular.io/components/categories" target="_blank">
        <i class="fa fa-link"></i>
      </a>
    </div>
  </div>
  <div class="mda-card-body">

    <div class="mda-card-body-inner">

      <mat-tab-group>
        <mat-tab label="UI">
            <mat-form-field>
                <mat-select [(value)]="selected">
                  <mat-option>None</mat-option>
                  <mat-option value="option1">Option 1</mat-option>
                  <mat-option value="option2">Option 2</mat-option>
                  <mat-option value="option3">Option 3</mat-option>
                </mat-select>
              </mat-form-field>
              
              <p>You selected: {{selected}}</p>
        </mat-tab>

        <mat-tab label="HTML">
          <button class="copyCodeBtn" matTooltip="copy code ..." mat-button mat-icon-button ngxClipboard (click)="copy('html')">
            <i class="fa fa-copy"></i>
          </button>
          <pre>
            <code highlight [code]="htmlCode"></code>
          </pre>
        </mat-tab>
        <mat-tab label="TS">
          <button class="copyCodeBtn" matTooltip="copy code ..." mat-button mat-icon-button ngxClipboard (click)="copy('ts')">
            <i class="fa fa-copy"></i>
          </button>
          <pre>
            <code highlight [code]="tsCode"></code>
          </pre>
        </mat-tab>
        <mat-tab label="CSS">
          <button class="copyCodeBtn" matTooltip="copy code ..." mat-button mat-icon-button ngxClipboard (click)="copy('css')">
            <i class="fa fa-copy"></i>
          </button>
          <pre>
            <code highlight [code]="cssCode"></code>
          </pre>
        </mat-tab>
      </mat-tab-group>

    </div>
  </div>
</div>