<div class="mda-section">
  <div class="row m-0 w-100">
    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp">

      <div class="mda-card mda-card-material animated delay-02">
        <div class="mda-card-header low">
          <div class="mda-card-header-title">Autosize Sidenav</div>
          <div class="mda-card-control">
              <a matTooltip="more info ..." href="https://material.angular.io/components/categories" target="_blank">
                <i class="fa fa-link"></i>
              </a>
            </div>
        </div>
        <div class="mda-card-body">
          
          <div class="mda-card-body-inner">

            <mat-tab-group>
              <mat-tab label="UI">
                <mat-drawer-container class="example-container" autosize>
                  <mat-drawer #drawer class="example-sidenav" mode="side">
                    <p>Auto-resizing sidenav</p>
                    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
                    <button (click)="showFiller = !showFiller" mat-raised-button>
                      Toggle extra text
                    </button>
                  </mat-drawer>
                
                  <div class="example-sidenav-content">
                    <button type="button" mat-button (click)="drawer.toggle()">
                      Toggle sidenav
                    </button>
                  </div>
                </mat-drawer-container>
              </mat-tab>

              <mat-tab label="HTML">
                <button class="copyCodeBtn" matTooltip="copy code ..." mat-button mat-icon-button ngxClipboard (click)="copy('html')">
                  <i class="fa fa-copy"></i>
                </button>
                <pre>
                  <code highlight [code]="htmlCode"></code>
                </pre>
              </mat-tab>
              <mat-tab label="TS">
                <button class="copyCodeBtn" matTooltip="copy code ..." mat-button mat-icon-button ngxClipboard (click)="copy('ts')">
                  <i class="fa fa-copy"></i>
                </button>
                <pre>
                  <code highlight [code]="tsCode"></code>
                </pre>
              </mat-tab>
              <mat-tab label="CSS">
                <button class="copyCodeBtn" matTooltip="copy code ..." mat-button mat-icon-button ngxClipboard (click)="copy('css')">
                  <i class="fa fa-copy"></i>
                </button>
                <pre>
                  <code highlight [code]="cssCode"></code>
                </pre>
              </mat-tab>
            </mat-tab-group>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>