<div class="mda-section">
  <div class="row m-0 w-100">
    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp">
      <app-basic-datepicker></app-basic-datepicker>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-datepicker-startdate></app-datepicker-startdate>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-datepicker-selected-value></app-datepicker-selected-value>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-datepicker-with-min-max-validation></app-datepicker-with-min-max-validation>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-datepicker-with-filter-validation></app-datepicker-with-filter-validation>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-datepicker-inputchange-events></app-datepicker-inputchange-events>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-disabled-datepicker></app-disabled-datepicker>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-datepicker-touch-ui></app-datepicker-touch-ui>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-datepicker-open-method></app-datepicker-open-method>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-datepicker-with-different-locale></app-datepicker-with-different-locale>
    </div>
  </div>
</div>