<div class="mda-section">
  <div class="row m-0 w-100">

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-tree-with-dynamic-data></app-tree-with-dynamic-data>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-tree-with-flat-nodes></app-tree-with-flat-nodes>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp">
      <app-tree-with-checkboxes></app-tree-with-checkboxes>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-tree-with-nested-nodes></app-tree-with-nested-nodes>
    </div>

    <div class="col-md-12 pl-2 mb-4 pr-2 animated bounceInUp delay-03s">
      <app-tree-with-partialy-loaded-data></app-tree-with-partialy-loaded-data>
    </div>
  </div>
</div>